/* LOCAL STYLES */

body {
	background: none;
	background-color: #f8f8f8;
}

header {
	/* padding: 8px; */
	padding: 16px 0;
}

/* HEADINGS */
h1 {
    color: #006892;
    /*
	font-family: Baskerville,"Palatino Linotype",Palatino,"Century Schoolbook L","Times New Roman",serif;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	*/
	font-family: Georgia, serif;
    font-size: 38px;
    font-weight: normal;
    line-height: 40px;
}
h2 {
    color: #006892;
    /*
	font-family: Baskerville,"Palatino Linotype",Palatino,"Century Schoolbook L","Times New Roman",serif;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	*/
	font-family: Georgia, serif;
    font-size: 32px;
    font-weight: normal;
    line-height: 36px;
}
h3 {
    color: #006892;
    /*
	font-family: Baskerville,"Palatino Linotype",Palatino,"Century Schoolbook L","Times New Roman",serif;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	*/
	font-family: Georgia, serif;
    font-size: 24px;
    line-height: 28px;
}
h4 {
    font-size: 18px;
    text-transform: uppercase;
}
h5 {
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
}
h6 {
    font-size: 12px;
    text-transform: uppercase;
}

/* BLOCKQUOTES */
q:before, q:after, blockquote:before, blockquote:after {
    content: "";
}
q:before, q:after, blockquote:before, blockquote:after {
    content: "";
}
blockquote {
    border-left: 5px solid #fff453;
    margin: 0 0 20px;
    padding: 0 0 0 15px;
}
blockquote.pull-right {
    border-left: 0 none;
    border-right: 5px solid #fff453;
    float: right;
    padding-left: 0;
    padding-right: 15px;
}

/* LISTS */
ul {
	list-style: disc outside none;
	padding: 0 0 15px 15px;
}
ol {
	list-style-type: lower-roman;;
	padding: 0 0 15px 18px;
}
ul li, ol li {
	line-height: 18px;
    padding-left: 20px;	
	}
ul.list_1, ul.list_2, ul.list_3, ul.list_4 {
    padding-bottom: 15px;
}

.float-right {
	display:block;
	float: right;
}
.float-left {
	display:block;
	float:left;
}
.box-style-2.navy a:hover {
	background:#006892 ; 
}


/* yellow on feature title (homepage - change to prospectus colour */
.box-style-2 h3 {
	color: #ffe86c;
}

/* reduce padding to default */
.col-right p {
    margin: 0 0 15px;
}

/*reduce font-weight and shadowing on megamenu and features&*/
.megamenu > li a.drop-down, .megamenu > li a.nodrop-down {
    font-size: 12px;
    font-weight: 400;
    text-shadow: none;
}
.box-style-2 a {
	font-weight:400;
	text-shadow: none;
}
		
/*other stuff*/
div.box-style-2 a.image-full {
	min-height:	113px;		
}
ul.breadcrumb li {
	padding-left:0px;			
}

div.home-about-image {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	/*background: #eaf9ff;*/
	background: #000;
	position: relative;
	text-align: center;
	margin-bottom: 20px;	
}

.home-about-image img {
	/*margin: 30px 0 15px 0;*/
	/*margin: 0 0 0 0;*/
	margin: 2px;
	width: 166px;
}

.home-about-image h5{
	padding: 2px 2px 4px 2px;
}
		
/*little red button */
		
.button_red_small a {
	
	color:#fff;
	text-decoration:none; 
	transition: background .5s ease; 
	-moz-transition: background .5s ease; 
	-webkit-transition: background .5s ease; 
	-o-transition: background .5s ease;
	display:inline-block;
	cursor:pointer;
	font-weight:700;
	border-radius: 3px;
	font-size:11px;
}
.button_red_small a:hover {background:#099ad1;}


/* twitter and facebook feeds */

div.follow-bar {
		margin-bottom: 8px;
}

div.follow-bar div.twitter,
div.follow-bar div.fb{
	float:right;
	margin-top: 0;
	background: none;
	width: auto;
	display: block;
	height: auto;
}

div.follow-bar div.twitter a,
div.follow-bar div.fb a {
	padding:0px;
	padding-left: 36px;
	
}

#twitter_feed,
#facebook_timeline{
    min-height: 320px;
}
div.post-header {
	border-bottom: 1px solid #e5e5e5;
	margin-bottom: 5px;
	padding-bottom: 14px;
}

div.tweet-item a, div.post-item a {
	font-weight: normal;
	text-decoration: none;
}

#twitter_feed div.tweet-text, 
#facebook_timeline div.post-text {
	display: inline-block;
	margin: .5em 0;
	/*font-size: 0.8em;*/
	/*padding-right: 2.2em;*/
	text-align: justify;
	max-width: 292px;
}

div.post-item span.post-title {
	padding-right: 16px;
	font-weight: bold;
}

div.post-item span.post-text, 
div.post-item span.post-likes {
	/*padding-right: 16px;*/
}

div.nameDate h5 {
	margin: 0px;
	font-size: 12px;
    text-transform: none;
}

span.post-time {
	color: gray;
	font-size: 11px;
}

#twitter_feed ul, 
#facebook_timeline ul {
    list-style: none;
    padding: 0;
}

#twitter_feed ul li,
#facebook_timeline ul li {
    padding-left: 0px;
	background-color: #fff;
	padding:2px 6px;
	margin-bottom:6px;
}

a.profile_image_link {
	margin-right: 8px;
	float: left;
}

div.post-header div.nameDate {
	padding-top: 8px;	
}

div.letterboxed-image img.post-image {
	margin: 0.5em auto;
	border: 1px solid rgba(0,0,0,.2);
	-webkit-background-size: auto 100%;
	-webkit-transform: translatez(0);
	display: block;
}

div#facebook_timeline img.loader,
div#twitter_feed img.loader {
	display:block;
	text-align: center;
	margin: 25px auto 0 auto;
}


/* top banner */

div#menu-top ul li {
	padding-left: 0;	
}


div.follow-bar span.twitter-account-text,
div.follow-bar span.fb-account-text {
	width: 150px;
	display: block;
}

/* simple drop-down menu - over-ride list padding */

ul.megamenu li.drop-normal div.drop-down-container ul li {

    padding-left: 0px;	
	}

/*twitter & facebook icons*/

div.twitter a img {
	width: 40px;
	height: 33px;	
}

div.fb a img {
	width: 40px;
	height: 40px;	
}

/*set news widget list style*/
ul#news-archive {
	list-style:none;
	padding: 0 0 0 0;
}

ul#news-archive li {
	padding-left: 0px;
	line-height: 20px;
}

ul.meta{
	list-style:none;
	padding: 0 0 0 0;
}

ul.meta li.timestamp{
	padding-left: 0px;
	line-height: 20px;
}


/*form*/
div.contourPage div.checkboxlist span.checkboxlist label {
		display: inline-block;
}

div.contourNavigation {
	margin-top: 16px;
}

div#menu-top ul {
	float:right;
}

/* sixth form form */

#contour label.fieldLabel, .contour label.fieldLabel {
    margin-right: 12px;
}

div.contourPage .contourPageName {
    font-size: 1.4em !important;
    line-height: 1em !important;
}

div.contourField .radio, .checkbox {

    padding-left: 4px;
}

div.contourField .radio input[type="radio"], .checkbox input[type="checkbox"] {

    margin-left: 0px;
}

div.contourPage {
	border: 1px;
	border-style: solid;
	padding: 8px;
	
}

.contour fieldset.contourFieldSet div.qualifications label.fieldLabel {
	display:none;
}

.contour fieldset.contourFieldSet div.qualifications div textarea {
	width: 513px!important;	
	}
h4.contourPageName {
	display:none
		
}

