/* LOCAL STYLES */

/* HEADINGS */
h1 {
    color: #006892;
    font-family: Baskerville,"Palatino Linotype",Palatino,"Century Schoolbook L","Times New Roman",serif;
    font-size: 38px;
    font-weight: normal;
    line-height: 40px;
}
h2 {
    color: #006892;
    font-family: Baskerville,"Palatino Linotype",Palatino,"Century Schoolbook L","Times New Roman",serif;
    font-size: 32px;
    font-weight: normal;
    line-height: 36px;
}
h3 {
    color: #006892;
    font-family: Baskerville,"Palatino Linotype",Palatino,"Century Schoolbook L","Times New Roman",serif;
    font-size: 24px;
    line-height: 28px;
}
h4 {
    font-size: 18px;
    text-transform: uppercase;
}
h5 {
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
}
h6 {
    font-size: 12px;
    text-transform: uppercase;
}

/* BLOCKQUOTES */
q:before, q:after, blockquote:before, blockquote:after {
    content: "";
}
q:before, q:after, blockquote:before, blockquote:after {
    content: "";
}
blockquote {
    border-left: 5px solid #fff453;
    margin: 0 0 20px;
    padding: 0 0 0 15px;
}
blockquote.pull-right {
    border-left: 0 none;
    border-right: 5px solid #fff453;
    float: right;
    padding-left: 0;
    padding-right: 15px;
}

/* LISTS */
ul {
	list-style: disc outside none;
	padding: 0 0 15px 15px;
}
ol {
	list-style-type: lower-roman;;
	padding: 0 0 15px 18px;
}
ul li, ol li {
	line-height: 18px;
    padding-left: 20px;	
	}
ul.list_1, ul.list_2, ul.list_3, ul.list_4 {
    padding-bottom: 15px;
}

.float-right {
	display:block;
	float: right;
}
.float-left {
	display:block;
	float:left;
}
.box-style-2.navy a:hover {
	background:#006892 ; 
}


/* yellow on feature title (homepage - change to prospectus colour */
.box-style-2 h3 {
	color: #ffe86c;
}

/* reduce padding to default */
.col-right p {
    margin: 0 0 15px;
}

/*reduce font-weight and shadowing on megamenu and features&*/
.megamenu > li a.drop-down, .megamenu > li a.nodrop-down {
    font-size: 12px;
    font-weight: 400;
    text-shadow: none;
}
.box-style-2 a {
	font-weight:400;
	text-shadow: none;
}
		
/*other stuff*/
div.box-style-2 a.image-full {
	min-height:	113px;		
}
ul.breadcrumb li {
	padding-left:0px;			
}

div.home-about-image {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	/*background: #eaf9ff;*/
	background: #000;
	position: relative;
	text-align: center;
	margin-bottom: 20px;	
}

.home-about-image img {
	/*margin: 30px 0 15px 0;*/
	/*margin: 0 0 0 0;*/
	margin: 2px;
	width: 166px;
}

.home-about-image {
			
		}
		
/*little red button */
		
.button_red_small a {
	
	color:#fff;
	text-decoration:none; 
	transition: background .5s ease; 
	-moz-transition: background .5s ease; 
	-webkit-transition: background .5s ease; 
	-o-transition: background .5s ease;
	display:inline-block;
	cursor:pointer;
	font-weight:700;
	border-radius: 3px;
	font-size:11px;
}
.button_red_small a:hover {background:#099ad1;}


/* twitter and facebook feeds */

div.follow-bar {
	margin-bottom:12px;	
}

div.follow-bar div.twitter,
div.follow-bar div.fb{
	float:right;
	margin-top: 0;
}

div.follow-bar div.twitter a,
div.follow-bar div.fb a {
	padding-left: 36px;
}


