@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
	
	<div class="permalink-header">
	<div class="follow-bar">
    	<div class="fb"><a href="https://www.facebook.com/uobschool?hc_location=timeline">Follow on Facebook</a></div>
		<a href="https://www.facebook.com/uobschool?hc_location=timeline">The University of Birmingham School</a>
	</div>
</div>
<div id="facebook_timeline"></div>	
<script>
	$( document ).ready(function() {
		//fetchTimeline(page/account name, number of posts)
		fetchTimeline("uobschool", 5);
	});
</script>