@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
	
	<div class="permalink-header">
	<div class="follow-bar">
			<div class="fb"><a href="https://www.facebook.com/uobschool?hc_location=timeline"><img width="40px" height="40px" src="/media/1311/facebook_lb.png" alt="twitter icon"/></a></div>
			<span class="fb-account-text">
				<a href="https://www.facebook.com/uobschool?hc_location=timeline">The University of Birmingham School</a>
			</span>
	</div>
</div>
<div id="facebook_timeline"></div>	
<script>
	$( document ).ready(function() {
		//fetchTimeline(page/account name, number of posts)
		fetchTimeline("uobschool", 3);
	});
</script>